RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

Rewriterule ^index.php/(.+)/(.+)/(.+)/$ index.php?controller=$1&method=$2&parameter=$3 [QSA,L]
Rewriterule ^index.php/(.+)/(.+)/$ index.php?controller=$1&method=$2 [QSA,L]

Rewriterule ^index.php/(.+)/(.+)/(.+)$ index.php?controller=$1&method=$2&parameter=$3 [QSA,L]
Rewriterule ^index.php/(.+)/(.+)$ index.php?controller=$1&method=$2 [QSA,L]

Rewriterule ^(.+)/(.+)/(.+)/$ index.php?controller=$1&method=$2&parameter=$3 [QSA,L]
Rewriterule ^(.+)/(.+)/$ index.php?controller=$1&method=$2 [QSA,L]

Rewriterule ^(.+)/(.+)/(.+)$ index.php?controller=$1&method=$2&parameter=$3 [QSA,L]
Rewriterule ^(.+)/(.+)$ index.php?controller=$1&method=$2 [QSA,L]


